.btn-1{
    font-family: "Poppins", sans-serif;
    padding: 1em;
    font-weight: bold;
    background-color: rgb(81, 81, 255);
    color: var(--docs-white);
    border: none;
    border-radius: 6px;
    width: 14%;
    transition: all 0.2s ease-in-out;
}
.btn-1:hover{
    background-color: black;
    color: var(--docs-white);
    outline: solid 2px rgb(81, 81, 255);
}