
div.ThreeDimensionalButtonContainer {
  margin-top: 22em;
}

div.ThreeDimensionalButtonContainer > div.sampleButtons {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
}

div.ThreeDimensionalButtonContainer {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
}