
// external imports - fonts, icons and others
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

// importing viewable components css
@import url("./Home/Home.view.css");
@import url("./Docs/Docs.view.css");

// importing components css
@import url("../Components/Header/Header.css");
@import url("../Components/Footer/Footer.css");
@import url("../Components/3DButtonContainer/3DButtonContainer.css");
@import url("../Components/3DButtonContainer/3DButton/3DButton.css");
@import url("../Components/ButtonComponentModel/ButtonComponentModel.css");
@import url("../Components/ButtonComponentModel/TagsLayer/TagsLayer.css");
@import url("../Components/ButtonComponentModel/ButtonComponentDetailsModal/ButtonComponentDetailsModal.css");
@import url("../Components/PrimaryButton/PrimaryButton.css");

// importing section component css
@import url("../Views/Home/Sections/DescriptionSection/DescriptionSection.css");

// importing variables
@import url("./variables/variables.css");

/// Importing external css libraries
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'); /// awesome fonts-icons


::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

body {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

a, .link {
  text-decoration: none;
  color: rgb(82, 82, 255);
  padding-right: 3.2px;
  padding-left: 3.2px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba(41, 41, 255, 0.825);
    color: var(--docs-white);
  }
}