div.Home {

  > div.introduction-container {
    margin-top: 6em;


    > div.introduction-description-section {
      margin-bottom: 10em;
      > h1.massive-headline {
        color: white;
        font-weight: 800;
        font-size: 76px;

        > button.sample-button-primary {
          font-family: inherit;
          font-size: 62px;
          padding: 6px;
          border-radius: 10px;
          margin-right: 6px;
          margin-left: 6px;
          border: none;
          color: var(--docs-white);
          background-color: var(--docs-black);
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateY(-4px);
            box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.320);
          }

        }

        > button.sample-button-raised {
          font-family: inherit;
          font-size: 62px;
          padding: 6px;
          border-radius: 10px;
          border: none;
          margin-right: 6px;
          margin-left: 6px;
          color: var(--docs-black);
          background-color: var(--docs-white);
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--docs-white);
            transform: translateY(-4px);
            background-color: rgba(0, 38, 255, 0.616);
            box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.320);
          }
        }

      }

      > span.links-layer > ul.links-list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
  
        > li.link-item:nth-child(1) {
          margin-right: 0.5em;
        }

        > li.link-item:not(:nth-child(1)) {
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
  
      }

    }

  }

}

@media screen and (max-width: 1100px) {
  // working
  div.Home {
    > div.introduction-container {
      margin-top: 2em;

      > div.introduction-description-section {
        > h1.massive-headline {
          text-align: center;
          font-size: 42px;

          > button.sample-button-primary {
            font-size: 38px;
            padding: 2px;
          }

          > button.sample-button-raised {
            font-size: 38px;
            padding: 2px;
          }

        }
        > span.links-layer > ul.links-list {
          display: flex;
          align-items: center;
          text-align: center;
          list-style: none;
  
        > li.link-item {
          margin-right: auto !important;
          margin-left: auto !important;
        }
  
      }
      }

    }
  }
}